*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.toolbox-cont{
    height: 5rem;
    background-color: rgb(27, 137, 232);
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    background-color: antiquewhite;
    height: 3rem;
    width: 20rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3.75rem;
    text-align: center;
    color: antiquewhite;
    padding-top: .2rem;
    cursor: pointer;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}


.actn-btn-cont{
    background-color: antiquewhite;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    cursor: pointer;
}
.modal-cont{
    height: 50vh;
    width: 40vw;
    display: none;
    background-color: antiquewhite;
    border: 2px solid rgb(50, 5, 5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.textarea-cont{
    height: 100%;
    width: 75%;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 2rem;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    background-color: rgb(228, 228, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 2px solid rgb(145, 123, 123);
    text-align: center;
    color: antiquewhite;
}

.priority-color{
    height: 2rem;
    width:  5rem;
    padding-bottom: 1rem;
    padding-top: .2rem;
    font-weight: 600;
    cursor: pointer;
}

.main-cont{
    
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    
}

.ticket-cont{
    height: 15rem;
    width: 15rem;
    background-color: #cea671;
    position: relative;
}
.ticket-color{
    height: 15%;
    color: whitesmoke;
    padding: 0.5rem;
    font-weight: 600;
}

.ticket-id{
    color: blue;
    font-weight: 600;
    height: 5%;
    margin-top: .5rem;
    margin-left: .5rem;
}

.ticket-area{
    padding: 1rem;
    height: 73%;
    font-size: 1.2rem;
    word-wrap:break-word;
    overflow: auto;
    margin-top: .5rem;
}

.lock-unlock{
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 1.25rem;
}

.active{
    border: 3px solid yellow;
    transition: .2s ease;
}